<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossips ! La liste des potins arrive bientôt...</h1>
    <a href="/gossips/new/">Clique ici pour créer ton nouveau potin !</a>
    
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>s
      <% end %>
  </body>
</html>